# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: SUP IMAX
collections:
  posts:
    title: Posts
    output: true
  domaines:
    title: domaines
    output: true
  programmes:
    title: programmes
    output: true
  commentaires:
    title: commentaires
    output: true
  partenaires:
    title: partenaires
    output: true
adresse: Rue de Niombré x rue Aristide le Dantec
email: supimax@supimax.com
tel: 33 889 11 88
description: >- # this means to ignore newlines until "baseurl:"
  Etablissement Privé d'Enseignement Supérieur, SUP'IMAX accueille chaque année des 
  candidats issus de différents horizons. L'expertise du Groupe SUP'INFO ( 23 ans) 
  agréé par l'état, associée au partenariat d'entreprises réputées et d'intervenants
  professionnels établissent le cadre de votre prochain séjour parmi nous. SUP'IMAX 
  c'est aussi un centre agréé de Certifications Internationales ouvert toute l'année.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
