<!-- Our Partner -->
<div class="our-partner pt-100 pb-180">
   <div class="container">
       <div class="partner-carosel owl-carousel owl-theme owl-theme-s2">
            <!-- Partner #1 -->
            {% for partenaire in site.partenaires%}
            <div class="single-partner">
               <a href="#"><img src="{{ partenaire.image }}" alt="{{ partenaire.title }}"></a>
            </div>
            {% endfor %}
            
       </div>
   </div>
</div>
<!-- End Our Partner -->

<!-- Footer Area -->
        <footer class="footer-area ptb-100" style="background-image: url({{ page.parallax1 }});">
            <div class="container">
                <div class="contact-information-box">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="media single-box bor-right">
                                <div class="align-self-center mr-3">
                                    <i class="icofont-google-map"></i>
                                </div>
                                
                                <div class="media-body">
                                    <h3>Adresse</h3>
                                    <p>{{ site.adresse }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="media single-box bor-right">
                                <div class="align-self-center mr-3">
                                    <i class="icofont-envelope"></i>
                                </div>
                                
                                <div class="media-body">
                                    <h3>Email</h3>
                                    <p><a href="#">{{ site.email }}</a></p>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="media single-box">
                                <div class="align-self-center mr-3">
                                    <i class="icofont-phone"></i>
                                </div>
                                
                                <div class="media-body">
                                    <h3>Telephone</h3>
                                    <p><a href="#">{{ site.tel }}</a></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="single-footer-widget">
                            <h3>A propos de nous</h3>
                            <p class="text-justify">{{ site.description }}</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="single-footer-widget pl-30">
                            <h3>Liens rapides</h3>
                            <ul class="quick-menu">
                                <li><a href="/"><i class="icofont-thin-double-right"></i> Accueil</a></li>
                                <li><a href="/presentation/" target="blank"><i class="icofont-thin-double-right"></i> Présentation</a></li>
                                <li><a href="#"><i class="icofont-thin-double-right"></i> Actualités</a></li>
                                <li><a href="#"><i class="icofont-thin-double-right"></i> Mentions Légales</a></li>
                                <li><a href="/contact/" target="blank"><i class="icofont-thin-double-right"></i> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="single-footer-widget">
                            <h3>Newsletter</h3>
                            
                            <div class="newsletter">
                                <p>Incrivez vous à notre newsletter et recevez toutes nos dernieres actualités.</p>
                                <p>Vous pourrez vous désabonnez à tout moment.</p>
                                <form>
                                    <input type="text" placeholder="Entrez votre Email" class="form-control">
                                    <button type="submit" class="submit-btn"><i class="icofont-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
        
        <!-- Bottom footer -->
        <div class="bottom-footer">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-6 col-lg-6"> 
                        <p>© SUP'IMAX 2019, All Rights Reserved by <a href="https://revovision.ca" target="_blank">REVOVISION SÉNÉGAL</a></p>
                    </div>
                    
                    <div class="col-md-6 col-lg-6"> 
                        <ul class="social-links">
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End bottom footer -->