<!doctype html>
<html lang="zxx">
    {% include head.html %}

    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        {% include header.html %}
        
        {{ content }}
       
        {% include footer.html %}
       
    
        
        <!-- JQuery Min JS -->
        <script src="/assets/js/jquery.1.12.4.min.js"></script>
        <!-- Popper Min JS -->
        <script src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- WayPonits JS -->
        <script src="/assets/js/waypoints.js"></script>
        <!-- CounterUp JS -->
        <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- Tilt JS -->
        <script src="/assets/js/tilt.jquery.min.js"></script>
        <!-- Form Validator JS FILES -->
        <script src="/assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="/assets/js/contact-form-script.js"></script>
        <!-- Script JS -->
        <script src="/assets/js/script.js"></script>
    </body>
</html>