---
layout: default
---


<!-- Hero Slider -->
<div class="hero-slider2 owl-carousel owl-theme owl-theme-1 rs">
    {% for slider in page.sliders %}
    <div class="hero-slider-item" style="background-image: url({{ slider.image }});">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-slider-text hst-text-center">
                    <span class="welcome-text">{{ slider.title_medium }}</span>
                    <h1>{{ slider.title_large }}</h1>
                    <p>{{ slider.description }}</p>

                    <div class="slider-btn">
                        <a href="{{ slider.link_1 }}" target="blank" class="default-btn white-btn mr-15">En savoir plus</a>
                        <a href="{{ slider.link_2 }}" target="blank" class="default-btn pink-bg">nous contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
<!-- End Hero Slider -->

<!-- About Us -->
<section class="about-us-area">
    <div class="container about-us-box"> 
        <div class="row"> 
            <div class="col-md-6 col-lg-6"> 
                <div class="about-us-text">
                    <h4>Bienvenue à SUP'IMAX</h4>
                    <h2>23 ans d'expérience dans l'éducation</h2>
                    <h5>Etablissement Privé d'Enseignement Supérieur, SUP'IMAX accueille chaque année des candidats issus de différents horizons.</h5>
                    
                    <p> L'expertise du Groupe SUP'INFO ( 23 ans) agréé par l'état, associée au partenariat d'entreprises réputées et d'intervenants professionnels établissent le cadre de votre prochain séjour parmi nous. SUP'IMAX c'est aussi un centre agréé de Certifications Internationales ouvert toute l'année.</p>
                    
                    <a href="/presentation/" target="blank" class="default-btn">A Propos</a>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-6"> 
                <div class="about-video-intro" style="background-image: url({{ page.video_thumb1 }});">
                    <div class="d-table"> 
                        <div class="d-tablecell">
                            <div class="sonar-wrapper">
                                <div class="sonar-emitter" data-tilt>
                                    <a href="https://www.youtube.com/watch?v=E6_ttZom2IQ" class="play-icon popup-youtube">
                                        <i class="icofont-play"></i>
                                    </a>
                                    <div class="sonar-wave"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->

<!-- Popular Categories -->
<div class="ptb-100"> 
    <div class="container">
        <div class="categorie-slider owl-carousel owl-theme"> 
          {% for domaine in site.domaines %}
            <div class="single-categorie " style=" background-image: url({{ domaine.image }}); width: 100%; height: 172px">
                <a href="#">{{ domaine.title }}</a>
            </div>
          {% endfor %}
            
        </div>
       
    </div> 
</div>
<!-- End Popular Categories -->

<!-- Popular courses -->
<section class="popular-courses ptb-100">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Programme Académique</h2>
            <p>Le programme SUP'IMAX de Licences et Masters Professionnelle est axé sur trois grands domaines de spécialité :</p>
        </div> 
        
        <div class="row"> 
            {% for programme in site.programmes %}
            <div class="col-md-6 col-lg-4">
                <div class="single-course mb-30">
                    <a href="#" class="thumb-img">
                        <span class="overly"></span>
                        <img src="{{ programme.image }}" alt="{{ programme.title }}" style="width: 350px; height: 202px;">
                    </a>

                    <div class="course-caption">
                        <h3><a href="#">{{ programme.title }}</a></h3>
                        <p class="text-justify">{{ programme.description }}</p>

                        <div class="course-foot">
                          
                          <a href="#"><i class="icofont-graduate-alt"></i>{{ programme.diplomes }}</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
        
        <div class="mt-20 text-center">
            <a href="/admission/" target="blank" class="default-btn">Conditions d'admission</a>
        </div>
    </div> 
</section>
<!-- End Popular courses -->

<!-- CTR -->
<div class="ctr-area ptb-100" style="background-image: url({{ page.parallax1 }});">
    <div class="container"> 
        <div class="ctr-text-content">
            <h1>SUP'MAX - PROGRAMME 2019</h1>
            <p>Le service d'orientation de SUP'IMAX se préoccupe en premier lieu de répondre à vos questions et de vous faire découvrir les différentes opportunités de carrières qui se présenteront à vous. Contactez nous pour en savoir plus!</p>
            
            <a href="/contact/" target="blank" class="default-btn">CONTACTEZ NOUS</a>
        </div>
    </div>
</div>
<!-- End CTR -->

<!-- Why choose us -->
<section class="why-choose-us gray-bg pt-100 pb-70">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Pourquoi nous choisir?</h2>
            <p>La première des missions a été de créer le cadre d'accueil adapté à nos objectifs. </p>
        </div>
        
        <div class="row"> 
            <div class="col-md-6 col-lg-4"> 
                <div class="single-reason mb-30" data-tilt>
                    <div class="reason-icon">
                        <i class="icofont-man-in-glasses"></i>
                    </div>
                    <h3>La Qualité des Enseignements</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. </p>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4"> 
                <div class="single-reason active-hover mb-30" data-tilt>
                    <div class="reason-icon">
                        <i class="icofont-book-alt"></i>
                    </div>
                    <h3>L'Actualisation des Programmes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. </p>
                </div>
            </div>
          
            
            <div class="col-md-6 col-lg-4"> 
                <div class="single-reason mb-30" data-tilt>
                    <div class="reason-icon">
                        <i class="icofont-graduate"></i>
                    </div>
                    <h3>Certification</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why choose us -->

<!-- Video area -->
<div class="video-area" style="background-image: url({{ page.parallax1 }});">
    <div class="d-table"> 
        <div class="d-tablecell">
          <h1 style="color: white;">INTERVIEW AVEC MR DIDIER DIOP, DIRECTEUR DE SUP'IMAX</h1>
            <div class="sonar-wrapper">
                <div class="sonar-emitter" data-tilt>
                    <a href="https://www.youtube.com/watch?v=dv66pdHb99U" class="play-icon popup-youtube">
                        <i class="icofont-play"></i>
                    </a>
                    <div class="sonar-wave"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Video area -->

<!-- Our Feedback -->
<section class="our-feedback ptb-100">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Les Témoignages</h2>
            <p>Découvrez les différents témoignages des personnes qui ont eu à découvrir notre institut</p>
        </div>
        
        <div class="feedback-carosel owl-carousel owl-theme owl-theme-s2">
            <!-- Feedback #1 -->
            {% for commentaire in site.commentaires %}
            <div class="single-feedback">
                <p class="text-justify">{{ commentaire.content }}</p>
                
                <div class="client-info">
                    <img src="{{ commentaire.image }}" alt="{{ commentaire.nom }}">
                    
                    <h3>{{ commentaire.nom }}</h3>
                    <span>{{ commentaire.profession }}</span>
                </div>
                
                <img src="assets/img/quote.png" class="quote-icon" alt="quote">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Our Feedback -->

<!-- CTR -->
<div class="ctr-area ptb-100" style="background-image: url({{ page.parallax2 }});">
    <div class="container"> 
        <div class="ctr-text-content">
            <h1>Notre vision chez SUP'IMAX</h1>
            <p>Offrir au continent Africain de véritables structures de formation professionnelle identifiables par la Qualité de leurs installations et la rigueur des programmes aux Normes internationales : tel est l'engagement du Groupe SUP'INFO basé au Sénégal depuis une vingtaine d'années.</p>
            
            <a href="#" class="default-btn">En savoir plus</a>
        </div>
    </div>
</div>
<!-- End CTR -->



<!-- Latest News -->
<section class="latest-news gray-bg pt-100 pb-70">
    <div class="container">
        <div class="section-header">
            <i class="icofont-education"></i>
            <h2>Dernieres nouvelles</h2>
            <p>Découvrez les derniers articles rédigés par notre rédaction </p>
        </div>
        
        <div class="row">
          {% for post in site.posts limit: 2 %}
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-post">
                    <a href="#"><img src="{{ post.image }}" alt="{{ post.title }}" style="width: 360px; height: 235px;"></a>

                    <div class="blog-post-content">
                        <span>
                            <i class="icofont-ui-calendar"></i> {{ post.date }}
                        </span>
                        <h3><a href="#">{{ post.title }}</a></h3>
                        <a href="#" class="default-btn">Lire la suite</a>
                    </div>
                </div>
            </div>
          {% endfor %}
            <div class="col-lg-4">
              {% for post in site.posts offset:1 limit: 3 %}
                <div class="text-blog">
                    <span class="date">
                        <i class="icofont-ui-calendar"></i> {{ post.date }}
                    </span>
                    <h3>
                        <a href="#">
                            {{ post.title }} 
                            <i class="icofont-thin-right"></i>
                        </a>
                    </h3>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Latest News -->


